<!-- app.component.html -->
<div  *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn" >
    <header  [ngClass]="{'transparent-header': isTransparent}">
        <nav class="navbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/" class="nav-link" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}">Accueil</a>
            </li>
            <li class="nav-item">
              <a routerLink="/services" class="nav-link" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}">Services</a>
            </li>
            <li class="nav-item">
              <a routerLink="/produits" class="nav-link" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}">Produits</a>
            </li>
            <li class="nav-item">
                <a routerLink="/ourStory" class="nav-link" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}">Notre Histoire</a>
              </li>
    
            <li class="nav-item">
              <img src="./assets/img/Logo (2).png" alt="Votre image" class="logo" >
            </li>
            <li class="nav-item">
              <a routerLink="/avis" class="nav-link" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}">Avis</a>
            </li>
            <li class="nav-item">
              <a routerLink="/contact" class="nav-link" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}">Contact</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="nav-link" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}">Login</a>
              </li>
              <li class="nav-item">
                <a routerLink="/signup" class="nav-link" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}">Sign Up</a>
              </li>
            <li class="nav-item">
              <a routerLink="/panier" class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true" [ngClass]="{'white-link': isTransparent, 'green-link': !isTransparent}"></i>
              </a>
              
            </li>
          </ul>
        </nav>
      </header>
    </div>
    
    <!-- app.component.html -->
    <div  *ngIf="isAdminLoggedIn" >
        <header>
          <nav class="navbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link">Accueil</a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/analytics" routerLinkActive="active" class="nav-link">Analytiques</a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/category" routerLinkActive="active" class="nav-link">Catégories</a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/product" routerLinkActive="active" class="nav-link">Produits</a>
              </li>
      
              <li class="nav-item">
                <img src="./assets/img/Logo (2).png" alt="Votre image" class="logo" >
              </li>
              <li class="nav-item">
                <a routerLink="/admin/orders" routerLinkActive="active" class="nav-link">Ordres</a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/post-Coupon" routerLinkActive="active" class="nav-link">Post Coupon</a>
              </li>
              <li class="nav-item">
                  <a routerLink="/admin/coupons" routerLinkActive="active" class="nav-link">Coupons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" (click)="logout()">Logout</a>
                </li>
              
            </ul>
          </nav>
        </header>
    </div>
      
    
      <div  *ngIf="isCustomerLoggedIn" >
        <header>
            <nav class="navbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a routerLink="/customers/dashboard" routerLinkActive="active" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/customers/services" routerLinkActive="active" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/customers/produts" routerLinkActive="active" class="nav-link">Produits</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/customers/our-history" routerLinkActive="active" class="nav-link">Notre Histoire</a>
                  </li>
        
                <li class="nav-item">
                  <img src="./assets/img/Logo (2).png" alt="Votre image" class="logo" >
                </li>
                <li class="nav-item">
                  <a routerLink="/customers/avis" routerLinkActive="active" class="nav-link">Avis</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/customers/cart" class="nav-link">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </a> 
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/customers/profil">Profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/customers/orders">Vos Ordres</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Déconnexion</a>
                  </div>
                </li>
                  
                <li class="nav-item">
                  <a routerLink="/customers/cart" class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  
                </li>
              </ul>
            </nav>
          </header>
        </div>
       


