<!-- app.component.html -->

<header>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLink="/services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a routerLink="/produits" class="nav-link">Produits</a>
        </li>
        <li class="nav-item">
            <a routerLink="/histoire" class="nav-link">Notre Histoire</a>
          </li>

        <li class="nav-item">
          <img src="./assets/img/Logo (2).png" alt="Votre image" class="logo" >
        </li>
        <li class="nav-item">
          <a routerLink="/avis" class="nav-link">Avis</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="/signup" class="nav-link">Sign Up</a>
          </li>
        <li class="nav-item">
          <a routerLink="/panier" class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
          
        </li>
      </ul>
    </nav>
  </header>
  